/* NOTE TO SELF! these are imported in /pages/_app.js */


/* VARIABLES and FONTFACES */

@font-face {
    font-family: 'Signika';
    src:    url('../public/fonts/Signika-VariableFont_wght.woff2') format('woff2'),
            url('../public/fonts/Signika-VariableFont_wght.woff') format('woff');
}

@font-face {
    font-family: 'Fraunces';
    src:    url('../public/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff2') format('woff2'),
            url('../public/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.woff') format('woff');
}

:root{
    --white: #ffffff;
    --offwhite: #fffcee;
    --offwhiteblue: #f7fdff;

    --black: #1e1923;
    --gray: #68616f;

    --shadow: #b5a5bd;

    --purple: #834b9b;
    --lightpurple: #bf70cb;
    --darkpurple: #643e85;
    --green: #5ab895;

    font-size: 16px;
}

/* SHARED */

body {
    font-family: 'Signika', 'Gill Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fraunces';
    text-align: center;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    transition: .1s;
    color: var(--purple);
}

a:visited {
    color: var(--darkpurple);
}

a:hover {
    color: var(--lightpurple);
}

ul, li {
    padding:0;
}

li::marker {
    color: var(--shadow);
    content: '';
}


hr {
    height:1px;
    width:50%;
    border:none;
    border-top: 1px solid var(--shadow);
    clear:both;
}

div, article, section, figure {
    margin:0;
}

article {
    padding-top: 3rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* NAVBAR */

#header {
    background-color: var(--white);
    height: 100%;
    width: 110px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top:0;
    /* transition: .2s; */

    border-right: 1px dotted var(--shadow);
    box-shadow:0 0 12px -3px var(--shadow);

    padding:20px;
    padding-top:1.5rem;
    text-align: center;
}

#navlogo {
    font-size: 1rem;
    color: var(--black);
    width:100%;
    margin:0;
    transition: .2s;
}

#navlogo:hover {
    color: var(--gray);
}

#header:hover {
    /* background-color: var(--offwhiteblue); */
}

#main-content {
    padding-top:0;
    padding-left:150px;
    padding-right:0px;
    
    background-image: url('/images/shared/whitewall.png');
    box-shadow:0 0 12px -3px var(--shadow);
}



/* FOOTER */

#footer {
    background-color: var(--white);
    border-top: 1px dotted var(--shadow);
}


/*---------------------------------*/
/* INDIVIDUAL PAGES AND COMPONENTS */
/*---------------------------------*/


/* INTRODUCTION */
/* ie the big text at the top of some pages */

.introduction {

}

.intro-text {
    font-size: 1.25rem;
    line-height:1.75;
    letter-spacing: .05rem;
}



/* ART GALLERY */
/* painting masonry grid things things */

.painting-gallery {
    display: flex;
    width: auto;
    max-width: 1400px;
    margin:auto;
    /* clear: both; */
}

.painting-gallery-column {
    padding-left:0;
    background-clip: padding-box;
}

.painting {
    width:100%;
    /* min-width: 200px;
    max-width: 350px; */
    margin:auto;
    filter:brightness(100%);
    transition:.2s
}

.painting:hover {
    filter:brightness(115%);
}



/* INDIVIDUAL GALLERY OR BLOG PAGE */


.post-title {
    text-align: center;
}

.two-column-holder {
    display: flex;
    justify-content: space-evenly;
    overflow: visible;
}

.column-left {
    width:25%;
    position:sticky;
    align-self: flex-start;
    top:0;
    padding-bottom:1.5rem;
}

.column-right {
    width:65%;
    min-width: 400px;
    position:sticky;
    align-self: flex-start;
    top:0;
}

.image-standard {
    box-shadow:0 2px 9px -3px var(--shadow);
    margin-bottom:1.5rem;
}



/* BOOKS PAGE */


/* BOOK (individual) */





/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

    .two-column-holder {
        display: block;
        overflow: visible;
        padding:0 5%;
    }

    .column-left {
        padding-top:3rem;
        width:100%;
        position:static;
    }
    
    
    .column-right {
        width:100%;
        min-width: 0;
        position:static;
    }


    .painting {
    /* max-width: 300px; */
    }

}

@media screen and (max-width: 1000px) {
    
    #header {
        height: 40px;
        width: 100%;
        position: fixed;
        top:0;
    
        border-bottom: 1px dotted var(--shadow);
        border-right: none;
        box-shadow:0 0 12px -3px var(--shadow);
    
        padding:20px;
        padding-top:1.5rem;
        text-align: center;
        /* transition:0s; */
    }

    #main-content {
        padding-top:3rem;
        padding-left:10px;
        padding-right:10px;
    }

}