/* NOTE TO SELF! these are imported in /pages/_app.js */


/* SHARED */

#page-Content {
}


#navbar {
    background-color: aliceblue;
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top:0;
}


#main-content {
    padding-top:1rem;
    padding-left:130px;
    padding-right:30px;
    /* background-color:cadetblue; */
    background-image: url('/images/shared/whitewall.png');
}


#footer {
    background-color: blueviolet;
}



/* ART GALLERY */

/* masonry grid things */

/* .painting-gallery {
    width: 100%;
    height:300px;
}

.painting {
    position: absolute;
    width: 30%;
} */